*{
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  align-items: center;

}
.App {
  text-align: center;

}



.map-container {
  margin:20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80vh;
}

.hero {
  width: 100%; 
  height: 100%;
  position: relative;
  object-fit: cover;
}


.hero-text {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.hero-text h1{
  font-size: 3rem;
  font-weight: 800;
}

.hero-text .show{
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
  color: rgb(25, 80, 25);
}


.hero-text .show:hover{
  background-color: rgb(2, 77, 2);
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

form {
  position: absolute;
  top: 35%;
  left: 20%;
  display:table;/* shrinks to fit content */
  margin:auto;
  background-color: rgb(255, 232, 196);
  border-radius: 9px;
}


.hero-text .show{
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
  color: rgb(25, 80, 25);
}


.hero-text .show:hover{
  background-color: rgb(2, 77, 2);
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
